Repository LedgerHQ/ledger-live-common, changes with the owners that CODEOWNERS names for each.
All owners: @ledgerhq/live-blockchain-support, @ledgerhq/live-devx, @ledgerhq/live-devices, @ledgerhq/live-hub, @ledgerhq/live-platform-and-services

CODEOWNERS:

*                 @ledgerhq/live-blockchain-support
.github           @ledgerhq/live-devx
src/hw            @ledgerhq/live-devices
src/manager       @ledgerhq/live-devices
src/apps          @ledgerhq/live-devices
src/notifications @ledgerhq/live-hub
src/featureFlags  @ledgerhq/live-hub
src/exchange      @ledgerhq/live-platform-and-services
src/platform      @ledgerhq/live-platform-and-services

Add a workaround that prevent 2 last operations to be same id
  src/families/cosmos/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

Uses balance from backend even if no txs
  src/families/ethereum/synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

Add a workaround that prevent 2 last operations to be same id (#1807)
  src/families/cosmos/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

Fixes deduplication logic of mergeOps
  src/bridge/jsHelpers.ts
Owners: @ledgerhq/live-blockchain-support

LIVE-1449 Use Ledger's reverse proxy for Crypto.org (CRO) (#1750)
  src/env.ts
Owners: @ledgerhq/live-blockchain-support

Revert "Add a workaround that prevent 2 last operations to be same id (#1807)"
  src/families/cosmos/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

fix multiple tx messages
  src/families/cosmos/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

Cosmos JS (#1809)
  src/families/cosmos/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

snapshot
  src/__tests__/__snapshots__/all.libcore.ts.snap
Owners: @ledgerhq/live-blockchain-support

update ledgerjs libs
  package.json
  yarn.lock
Owners: @ledgerhq/live-blockchain-support

v21.34.1-cosmos.4
  package.json
Owners: @ledgerhq/live-blockchain-support

cosmos bot: better approximation of delegating amounts
  src/families/cosmos/specs.ts
Owners: @ledgerhq/live-blockchain-support

Cosmos bot: redelegation effects immediately when already delegate
  src/families/cosmos/specs.ts
Owners: @ledgerhq/live-blockchain-support

Bot filecoin disabled
  src/families/filecoin/specs.ts
Owners: @ledgerhq/live-blockchain-support

solana introduce validators app validators
  src/families/solana/js-preload-data.ts
  src/families/solana/js-preload.ts
  src/families/solana/types.ts
  src/families/solana/validator-app/index.ts
Owners: @ledgerhq/live-blockchain-support

Fixes LIVE-1123
  src/families/tezos/bridge/js.ts
Owners: @ledgerhq/live-blockchain-support

max spendable to be properly calculated
  src/families/tezos/bridge/js.ts
  src/families/tezos/specs.ts
Owners: @ledgerhq/live-blockchain-support

increase maxAccount to have more coverage
  src/families/cosmos/specs.ts
Owners: @ledgerhq/live-blockchain-support

simplify spec test
  src/families/cosmos/specs.ts
Owners: @ledgerhq/live-blockchain-support

lint
  src/families/cosmos/specs.ts
Owners: @ledgerhq/live-blockchain-support

tezos spec to avoid sending to balance 0 accounts on low amount
  src/families/tezos/specs.ts
Owners: @ledgerhq/live-blockchain-support

lint
  src/families/tezos/specs.ts
Owners: @ledgerhq/live-blockchain-support

solana add validators for testnet & devnet
  src/families/solana/js-preload.ts
  src/families/solana/utils.ts
  src/families/solana/validator-app/index.ts
Owners: @ledgerhq/live-blockchain-support

solana refactor validators app validators
  src/families/solana/js-preload.ts
  src/families/solana/types.ts
  src/families/solana/validator-app/index.ts
Owners: @ledgerhq/live-blockchain-support

added dummy app to remoteLiveAppProvider
  src/platform/providers/GlobalCatalogProvider/api/mock.json
  src/platform/providers/RemoteLiveAppProvider/api/mock.json
Owners: @ledgerhq/live-platform-and-services

MEX & RIDE logos
  src/data/icons/svg/MEX.svg
  src/data/icons/svg/RIDE.svg
Owners: @ledgerhq/live-blockchain-support

operation api update
  src/families/cardano/api/api-types.ts
  src/families/cardano/api/getOperations.ts
  src/families/cardano/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

added dummy app to globalCatalogProvider
  src/platform/providers/GlobalCatalogProvider/api/mock.json
Owners: @ledgerhq/live-platform-and-services

LIVE-1584: update min version of DOT
  src/apps/support.ts
Owners: @ledgerhq/live-devices

solana update meta of stakes
  src/families/solana/react.ts
  src/families/solana/types.ts
Owners: @ledgerhq/live-blockchain-support

fix device actions to allow txs to be signed and broadcasted
  src/families/filecoin/speculos-deviceActions.ts
Owners: @ledgerhq/live-blockchain-support

add spendableBalance to accountShape
  src/families/cardano/js-synchronisation.ts
Owners: @ledgerhq/live-blockchain-support

add extra inputAmount to cover tx fee
  src/families/cardano/js-buildTransaction.ts
Owners: @ledgerhq/live-blockchain-support
